/* Variables used throughout will go here. */
/* CSS code for the Navbar section. */
nav {
  background-color: pink; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

/* CSS code for the Header section. */
body {
  background-color: black;
  color: white; }

.text-center {
  color: white; }

li a {
  color: black; }

header.jumbotron {
  margin-bottom: 0px; }

/* CSS code for the Portfolio section. */
.thumbnail {
  background: pink;
  background-image: contain; }

/* CSS code for the About section. */
/* CSS code for the Contact section. */
/* CSS code for the Footer section. */
footer {
  margin: auto;
  width: 25%; }
