/* Variables used throughout will go here. */
/* CSS code for the Navbar section. */
#mainNav {
  background-color: #99D5F1;
  font-family: "Karla", sans-serif;
  width: 100%; }

.navbar-brand {
  text-align: left; }

.navbar-brand {
  color: black; }

.icon-bar {
  background-color: black; }

/* CSS code for the Header section. */
body {
  background-color: #99D5F1;
  color: white; }

.text-center {
  color: white; }

li a {
  color: black; }

header.jumbotron {
  margin-bottom: 0px;
  height: 34em;
  background-image: url("../assets/pyramidscamelSmall.jpeg");
  background-size: cover; }

.jumbotron h1, .jumbotron p {
  text-shadow: 2px 2px 2px black;
  font-family: "Karla", sans-serif; }

/* CSS code for the Portfolio section. */
.thumbnail {
  background: #C6AC95;
  background-image: contain; }

.Portfolio h2 {
  color: black;
  text-decoration: underline;
  font-family: "Karla", sans-serif;
  padding-bottom: 1em; }

.Portfolio h3 {
  font-family: "Karla", sans-serif; }

.overlay {
  background-color: black;
  opacity: 0;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transition: 1s;
  z-index: 0;
  width: 98%;
  height: 100%;
  background-color: #99D5F1;
  margin-left: -1em; }

.overlay:hover {
  transform: scale(1);
  opacity: 0.8;
  z-index: 1;
  color: white; }

/* CSS code for the About section. */
#About p {
  color: black;
  font-family: 'Karla', sans-serif; }

#About h2 {
  color: black;
  text-decoration: underline;
  font-family: "Karla", sans-serif; }

/* CSS code for the Contact section. */
#Contact h2 {
  color: black;
  text-decoration: underline;
  font-family: "Karla", sans-serif; }

/* CSS code for the Footer section. */
footer {
  margin: auto;
  width: 25%; }
