/* Variables used throughout will go here. */
/* CSS code for the Navbar section. */
nav {
  background-color: #d8d8d8;
  font-family: "Karla", sans-serif; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

/* CSS code for the Header section. */
body {
  background-color: #d8d8d8;
  color: white; }

.text-center {
  color: white; }

li a {
  color: black; }

header.jumbotron {
  margin-bottom: 0px; }

.jumbotron h1, .jumbotron p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Karla", sans-serif; }

/* CSS code for the Portfolio section. */
.thumbnail {
  background: #a2faa2;
  background-image: contain; }

.Portfolio h2 {
  color: black;
  text-decoration: underline;
  font-family: "Karla", sans-serif;
  padding-bottom: 1em; }

.Portfolio h3 {
  font-family: "Karla", sans-serif; }

/* CSS code for the About section. */
#About p {
  color: black;
  font-family: 'Karla', sans-serif; }

#About h2 {
  color: black;
  text-decoration: underline;
  font-family: "Karla", sans-serif; }

/* CSS code for the Contact section. */
#Contact h2 {
  color: black;
  text-decoration: underline;
  font-family: "Karla", sans-serif; }

/* CSS code for the Footer section. */
footer {
  margin: auto;
  width: 25%; }
