/* CSS code for the About section. */

#About p {
    color: black;
    font-family: 'Karla', sans-serif;
}

#About h2 {
    color: black;
    text-decoration: underline;
    font-family: "Karla", sans-serif;
}