/* CSS code for the Header section. */

body {
    background-color: #99D5F1;
    color: white;
}

.text-center {
    color: white;
    
}

li a {
    color: black;
}

header.jumbotron {
    margin-bottom: 0px;
    height: 34em;
    background-image: url("../assets/pyramidscamelSmall.jpeg");
    background-size: cover;
}

.jumbotron h1, .jumbotron p {
    text-shadow: 2px 2px 2px black;
    font-family: "Karla", sans-serif;
}
