/* CSS code for the Header section. */

body {
    background-color: black;
    color: white;
}

.text-center {
    color: white;
}

li a {
    color: black;
}

header.jumbotron {
    margin-bottom: 0px;
}
