/* CSS code for the Navbar section. */
#mainNav {
    background-color: #99D5F1;
    font-family: "Karla", sans-serif;
    width: 100%;
}

.navbar-brand {
    text-align: left;
}

.navbar-brand {
    color: black;
}

.icon-bar {
    background-color: black;
}